[submodule "lib/rang"]
	path = lib/rang
	url = https://github.com/agauniyal/rang.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/gsl"]
	path = lib/gsl
	url = https://github.com/Microsoft/GSL.git
